<div id="tiles">
  <%= render partial: "tiles"%>
</div>
<br/>
<div class="ml300">
  Color Picker: <input class="colors">
</div>
<div class="ml400 mt10">
  <button onclick="updateTileColors();">Ok</button>
  <button>Cancel</button>
</div>
